<!DOCTYPE html>
<html>
    <head>
        <title>uStreamer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/jsmpg.js"></script>
        <script src="/js/ctrl.js"></script>
    </head>
<body>
    <aside class="left">
        <div class="title">
            <a href="/"><i class="fa fa-play-circle" aria-hidden="true"></i> <span>uStreamer</span></a>
        </div>

        <ul class="menu">
            <% for(let i=0; i<sys.menu.length; i++) { %>
                <li <%=(sys.menu[i].items ? 'class=expand' : '')%>>
                    <a href="<%=(sys.menu[i].items ? '#' : sys.menu[i].url)%>"><i class="fa fa-<%=sys.menu[i].icon%>" aria-hidden="true"></i><span><%=sys.menu[i].name%></span></a>
                    <% if(sys.menu[i].items) { %>
                        <ul class="sub">
                            <% for(let j=0; j<sys.menu[i].items.length; j++) { %>
                                <li><a href="<%= sys.menu[i].url + sys.menu[i].items[j].url %>" class="active"><%=sys.menu[i].items[j].name%></a></li>
                            <% } %>
                        </ul>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </aside>

    <div class="wrapper">
        <div></div>

        <div class="content">
            <% if(typeof page !== 'undefined') { %>
                <%- include('pages/' + page + '.ejs') %>
            <% } else { %>
                <%- include('pages/home.ejs') %>
            <% } %>
        </div>
    </div>

    <script src="/js/home_menu.js"></script>
</body>
</html>

<script type="text/javascript">
  // let menu = {
  //    onItemSelected: (number, isSubitem) => {
  //      let el = isSubitem ? 'sub' : 'menu-items';
  //      let items = document.getElementById(el).children;
  //      Array.from(items).forEach((item,i) => {
  //        let c = item.getAttribute('class');
  //        c = c ? c : '';

  //        if (i == number) {

  //          c = c.replace('closed', ' opened');
  //          if (!c.includes('selected')){
  //            c += ' selected';
  //          }
  //        }
  //        else
  //        {

  //          c = c.replace('opened', ' closed');
  //          c = c.replace('selected', '');
  //        }

  //        item.setAttribute('class', c);
  //      });
  //    }
  // };

</script>