<% if(data.status && data.status != 0) { %>
	<div class="alert danger"><%= data.error %></div>
<% } else if(data.status == 0) { %>
	<div class="alert">Успешно добавлено</div>
<% } %>

<div id="panel" class="panel">
	<% if(sys.updateId) {%>
		<div class="title">Изменить информацию</div>
	<%	} 
		else {%>
		<div class="title">Добавить источник видео</div>
	<% }%>
	<div class="body">
		<% if(sys.updateId) {%>
			<form method="PUT" action="/update">
		<% } else {%>
			<form method="POST" action="/create">
		<% }%>
			<div class="form-input">
				<div class="title">Название:</div>
				<input type="text" name="name">
			</div>
			<div class="form-input">
				<div class="title">URL:</div>
				<input type="text" name="url">
			</div>
			<div class="form-input right">
				<% if(sys.updateId) {%>
					<input type="submit" value="Сохранить" class="btn">
				<% } else {%>
					<input type="submit" value="Добавить" class="btn">
				<% }%>
			</div>
		</form>
	</div>
</div>
	<%=console.log('DATA DATA', data.result)%>
<% if(data.result && data.result.length > 0) { %>

<div class="table">
	<table>
		<tr>
			<td>№</td>
			<td>Название</td>
			<td>Url</td>
			<td> </td>
			<td> </td>
		</tr>
	<% for(let i = 0; i < data.result.length; i++) {%>
		<tr>
			<td><%= (data.result[i].id) %></td>
			<td><%= (data.result[i].name) %></td>
			<td><%= (data.result[i].source) %></td>
			<td>
				<a href="/settings/video/update/<%=data.result[i].id%>">Изменить</a>
			</td>
			<td>
				
				<a href="/settings/video/remove/<%=data.result[i].id%>">Удалить </a>
			</td>
		</tr>
	
		<% }%>

	</table>
</div>
<% }%>

